
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: Curly;
  src: url(../assets/font.ttf);
}

.roundedw{border-radius:0 0 90px 90px; transform:rotate(-400deg)}
 
 

.av3{
   box-shadow: 0 0 0 10px #191b23,
                inset 0 0 0 10px #191b23,
                inset 0 0 0 10px #191b23,
                inset 0 0 0 10px #191b23,
                inset 0 0 0 10px #191b23;
}
.av2{
   box-shadow: 0 0 0 2px #191b23,
                inset 0 0 0 5px #191b23,
                inset 0 0 0 5px #191b23,
                inset 0 0 0 5px #191b23,
                inset 0 0 0 5px #191b23;
}
#accounts-router > .account-item {
  
  @apply border-2 rounded-[50%] bg-[#1F2235] w-[50px] h-[50px] text-white text-[19px] flex items-center justify-center cursor-pointer border-[#ff4a57] hover:bg-[#ff4a57] transition-all delay-[70ms]
} 


.link-item{
  @apply hover:text-[#ff4a57] font-bold cursor-pointer underline transition-all delay-[70ms]
}